input:focus-within{
    outline: none;
}

.form-input-base{
    width: 100%;
    padding: var(--size3x) var(--size4x);
    border: none;
    font-size: 1rem;
    border-radius: var(--size2x);
    background: var(--base-bg-color);
    border:1px solid var(--border-color);
    box-shadow: var(--neumorph-input-shadow);
    -webkit-box-shadow: var(--neumorph-input-shadow);
}

.form-input-base:focus,
.form-input-base:focus-within {
    outline: none;
}