.book-single{
    display: flex;
    gap: var(--size8x);
}

.book-single__left-block,
.book-single__center-block,
.book-single__right-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size4x);
}

.book__tags{
    display: flex;
    flex-wrap: wrap;
    gap: var(--base-step);
}

.book__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--base-step) var(--size3x);
    border-radius: var(--base-step);
    border:1px solid var(--secondary-btn-color);
    color: var(--secondary-btn-color);
    line-height: 1;
}

@media (max-width: 768px) {
    .book-single{
        flex-direction: column;
        gap: var(--size4x);
    }

    .book-single__right-block .d-flex .form-input-base  {
        max-width: 50%;
    }
}
